{% extends "admin/account/base_monster.html" %}
{% load static i18n%}


{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}



 <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>

    <h2>Login</h2>
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
    </form>
    <br>
    <p><strong>-- OR --</strong></p>
    <a href="{% url 'administrador:social:begin' 'github' %}">Login with GitHub</a><br>




{% endblock %}

