{% extends 'TPV/index.html' %}
{% load staticfiles %}
  <body>
    <!-- navbar-->
    {% block 'index_active'%}{% endblock %}
    {% block 'medicamentos_active'%}active{% endblock %}
    <div class="d-flex align-items-stretch">
      <div class="page-holder w-100 d-flex flex-wrap">
        <div class="container-fluid px-xl-5">
          <section class="py-5">
             <!--espacio modificar el alto-->
          </section>


          <!--Seccion informativa-->
          <div class="row">
                <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
                  <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                    <div class="flex-grow-1 d-flex align-items-center">
                      <div class="dot mr-3 bg-violet"></div>
                      <div class="text">
                        <h6 class="mb-0">Más popular</h6><span class="text-black">Tarrito Rojo</span>
                      </div>
                    </div>
                    <div class="icon text-white bg-violet"><i class="fas fa-server"></i></div>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
                  <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                    <div class="flex-grow-1 d-flex align-items-center">
                      <div class="dot mr-3 bg-green"></div>
                      <div class="text">
                        <h6 class="mb-0">Más Stock</h6><span class="text-black">Acetaminofen</span>
                      </div>
                    </div>
                    <div class="icon text-white bg-green"><i class="far fa-clipboard"></i></div>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
                  <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                    <div class="flex-grow-1 d-flex align-items-center">
                      <div class="dot mr-3 bg-blue"></div>
                      <div class="text">
                        <h6 class="mb-0">Próximo vencer</h6><span class="text-black">Glucerna</span>
                      </div>
                    </div>
                    <div class="icon text-white bg-blue"><i class="fa fa-dolly-flatbed"></i></div>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
                  <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                    <div class="flex-grow-1 d-flex align-items-center">
                      <div class="dot mr-3 bg-red"></div>
                      <div class="text">
                        <h6 class="mb-0">Menor Stock</h6><span class="text-black">Loratadina</span>
                      </div>
                    </div>
                    <div class="icon text-white bg-red"><i class="fas fa-receipt"></i></div>
                  </div>
                </div>
              </div>

          <!--Fin seccion informativa-->
          <section class="py-5">
                <!--espacio modificar el alto-->
             </section>

          <!-- Seccion para productos-->
        <section class="">
            <div class="row">
              <div class="col-lg-6 mb-4">
                <div class="card">
                  <div class="card-header">
                      <form id="searchForm" class="ml-auto d-none d-lg-block">
                          <div class="form-group position-relative mb-0">
                            <button type="submit" style="top: -3px; left: 0;" class="position-absolute bg-white border-0 p-0"><i class="o-search-magnify-1 text-gray text-lg"></i></button>
                            <input type="search" placeholder="Buscar medicamento" class="form-control form-control-sm border-0 no-shadow pl-4">
                          </div>
                        </form>
                  </div>
                  <div class="card-body">
                    <table class="table table-striped table-hover card-text">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Producto</th>
                          <th>Cantidad</th>
                          <th>Precio</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Acetaminofen</td>
                          <td>66</td>
                          <td>$2000</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Loratadina</td>
                          <td>32</td>
                          <td>$1200</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Glucerna</td>
                          <td>43</td>
                          <td>$12000</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Tarrito rojo jgb</td>
                          <td>12</td>
                          <td>$25900</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </section>

      </div>
    </div>
  </body>
