{% extends 'TPV/index.html' %}
{% load staticfiles %}
  <body>
    <!-- navbar-->
    {% block 'index_active'%}{% endblock %}
    {% block 'ventas_active'%}active{% endblock %}
    <div class="d-flex align-items-stretch">
      
      <!-- Seccion productos-->
      <div class="page-holder w-100 d-flex flex-wrap">
            <div class="container-fluid px-xl-5">
              <section class="py-5">
                <div class="row mb-4">
                  <div class="col-lg-8 mb-4 mb-lg-0">
                    <div class="card">
                            <div class="card-header">
                                    <form id="searchForm" class="ml-auto d-none d-lg-block">
                                        <div class="form-group position-relative mb-0">
                                          <button type="submit" style="top: -3px; left: 0;" class="position-absolute bg-white border-0 p-0"><i class="o-search-magnify-1 text-gray text-lg"></i></button>
                                          <input type="search" placeholder="Buscar medicamento" class="form-control form-control-sm border-0 no-shadow pl-4">
                                        </div>
                                      </form>
                                </div>
                      <div class="card-body">
                            <div class="">  <!--card-body-->
                                    <table class="table table-striped table-hover card-text">
                                      <thead>
                                        <tr>
                                          <th>ID</th>
                                          <th>Producto</th>
                                          <th>Cantidad</th>
                                          <th>Precio</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <th scope="row">1</th>
                                          <td>Acetaminofen</td>
                                          <td>66</td>
                                          <td>$2000</td>
                                        </tr>
                                        <tr>
                                          <th scope="row">2</th>
                                          <td>Loratadina</td>
                                          <td>32</td>
                                          <td>$1200</td>
                                        </tr>
                                        <tr>
                                          <th scope="row">3</th>
                                          <td>Glucerna</td>
                                          <td>43</td>
                                          <td>$12000</td>
                                        </tr>
                                        <tr>
                                          <th scope="row">3</th>
                                          <td>Tarrito rojo jgb</td>
                                          <td>12</td>
                                          <td>$25900</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                            </div>
                            </div>
                        </div>

                <!--Fin seccion productos-->

                  <!--Seccion calculadora-->
                  <div class="col-lg-4">
                    <div class="card mb-4">
                      <div class="card-header">
                        <h2 class="h6 text-uppercase mb-0">Calculadora</h2>
                      </div>
                      <div class="card-body">
                        <div class="chart-holder">
                          <canvas id="lineCahrtsm1"></canvas>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--Fin seccion calculadora-->

                </div>
  </body>
