{% extends 'base_tablas.html' %}
{% load bootstrap4 %}

{% block page_title %}
    Registro de mensajes
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Registrar mensaje</h4>
                    <hr>
                    <form method="POST">{% csrf_token %}
                        {% bootstrap_form form %}
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Listado de mensajes </h4>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-bordered data-combine">
                            <thead>
                                <tr>
                                    <th>Mensaje</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for mensaje in mensajes %}
                                    <tr>
                                        <td>{{ mensaje }}</td>
                                        <td>
                                            <div class="dropdown">
                                                <button class="btn btn-primary dropdown-toggle" type="button"
                                                        id="dropdownMenuButton" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    Opciones
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" href="{% url 'mensajes:modificar' mensaje.id %}">Modificar</a>
                                                    <a class="dropdown-item" href="{% url 'mensajes:eliminar' mensaje.id %}">Eliminar</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}